body {
  background-color: black;
  font-family: monospace;
  font-size: 16pt;
  color: limegreen;

  padding: 0;
  margin: 0;
}

#txtCommandLineDisplay {
  width: 100%;
  height: 600px;

  position: relative;
}

#txtInputDisplay {
  border: thin limegreen;
  border-style: solid none solid none;

  width: 100%;
  height: 30px;

  position: fixed;
  bottom: 0;

  white-space: nowrap;
}
