body {
  background-color: black;
  font-family: monospace;
  color: white;
  padding: 0;
  margin: 0;
}

#txtHeader {
  width: 100%;
  text-align: center;
  font-size: 48pt;
  font-weight: bold;
}

#divRoll {
  text-align: center;
}

#btnRoll {
  text-align: center;
  background-color: grey;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 36px;
}

#txtThemeName {
  width: 100%;
  text-align: center;
  font-size: 48pt;
}

#txtThemeDescription {
  width: 100%;
  text-align: center;
  font-size: 24pt;
}

#txtThemeList {
  width: 100%;
  text-align: center;
  font-size: 16pt;
}
